<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    
    <typeAliases>
        <typeAlias type="live.model.Live" alias="Live" />
        <typeAlias type="live.model.Student" alias="Student" />
        <typeAlias type="live.model.Clazz" alias="Clazz" />
        <typeAlias type="live.model.Uploader" alias="Uploader" />
    </typeAliases>
</configuration>